<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isoftstone.androidutilslib" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>

        <activity
            android:name="com.androidcodelibs.androidutilslib.utils.permission.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />


        <provider
            android:name="android.support.v4.content.FileProvider4Util"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>
    </application>
</manifest>
